#{extends 'main.html' /} #{set title:'Home' /}
<h1>Sample Shibboleth Application</h1>

<p>
	This is an example shibboleth enabled Play! application to
	demonstrate how the shibboleth module works. When you run this app
	using <code>play test</code> a Mock Shibboleth SP will be used.
	In order to test the app out for real with your SP you need to 
	configure the appropriate parameters in <code>conf/application.conf</code>
	and then run app using <code>play run</code>. Test viewing a 
	<a href="@{Administrative.restricted}">restricted page</a> that will
	require you to be authenticated first.
</p>

<p>
	Try the <a href="/@tests">application tests</a> or read
	the <a href="@{PlayDocumentation.page("home","shibboleth")}">module
	documentation</a>.
</p>

#{if session.contains("shibboleth")}
<p class="button red">
	<a href="@{ shib.Shibboleth.logout() }">Logout using Shibboleth</a>
</p>
#{/if}
#{else}
<p class="button green">
	<a href="@{ shib.Shibboleth.login() }">Login with Shibboleth</a>
</p>
#{/else}

#{shibboleth.check 'administrator'}
<p>This text is only be viewable by authenticated users as it is restricted within the template using a <code>&#35;&#123;shibboleth.check 'administrator'&#125;</code> tag.</p>
#{/shibboleth.check}

<h2>Session Attributes</h2>
#{if session?.all()?.keySet()?.size() > 0}
	<dl class="shib-list">
		#{list items:session.all().keySet(), as:'key'}
		<dt>${key}</dt>
		<dd>${session.get(key)}</dd>
		#{/list} 
	</dl>
#{/if}
#{else}
	<p class="empty">No session attributes defined</p>
#{/else}

<h2>HTTP Headers</h2>
#{if request?.headers?.keySet()?.size() > 0}
	<dl id="shib-list2">
		#{list items:request.headers.keySet(), as:'name'}
			#{list items:request.headers.get(name).values, as:'value'}
				<dt>${name}</dt>
				<dd>${value}</dd>
			#{/list} 
		#{/list} 
		<div class="clear"></div>
	</dl>
#{/if}
#{else}
	<p class="empty">No HTTP headers received</p>
#{/else}

<h2>Mock Shibboleth Headers</h2>
#{if controllers.shib.MockShibboleth.reload()?.keySet()?.size() > 0}
	<dl class="shib-list">
		#{list items:controllers.shib.MockShibboleth.reload().keySet(), as:'name'}
				<dt>${name}</dt>
				<dd>${controllers.shib.MockShibboleth.get(name).value()}</dd>
		#{/list} 
	</dl>
#{/if}
#{else}
	<p class="empty">No mock Shibboleth headers defined</p>
#{/else}
